<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
    <main>
        <form action="/login" method="post">
            <h1>Login Page</h1>
            <input type="text" name="email" placeholder="E-mail" value="<%= locals.email %>">
            <input type="password" name="password" placeholder="Password">
            <p class="error"><%= locals.message %> </p>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>